{{ define "main" }}
    {{ $listtitle := .Title }}
    {{ if or .Title .Content }}
    <div>
        {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .Content }}<div>{{ . }}</div>{{ end }}
    </div>
    {{ end }}

    {{ range .Pages }}
        <div class="showcase">
            <a href="{{ .RelPermalink }}{{ partial "index" }}">
                <h2>{{.Title}}</h2>
                <img src="{{ printf "img/%s" .Params.image | relURL }}" /><br />
            </a>
            {{ with .Params.src }}
                <a href="{{ . }}">Sewing Pattern</a><br />
            {{ end }}
            {{ if not .Params.src }}
                No sewing pattern yet. <a href="https://codeberg.org/psylink/psylink/issues">Need one?</a><br />
            {{ end }}
            {{ with .Params.blog }}
                {{ range first 1 (where $.Site.RegularPages "Slug" "eq" .) }}
                    <b>Blog Post:</b> <a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title }}</a><br />
                {{ end }}
            {{ end }}
            <b>Date:</b> {{ .Date.Format "2006-01-02" }}
        </div>
    {{ end }}
{{ end }}
