<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
    <head>
        <title>{{ .Title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="og:title" property="og:title" content="PsyLink">
        <meta name="description" content='A makeshift neural interface'>
        <link rel="shortcut icon" type="image/png" href="{{ "logo.png" | relURL }}">
        <link rel="stylesheet" href="{{ "style.css" | relURL }}" type="text/css" />
    </head>
    <body>
        <header>
            <div class="content">
                <a href="index.html">
                    <img class="logo" src="{{ "logo.png" | relURL }}" />
                    <span class="header">PsyLink</span>
                </a>
                <nav>
                    {{ with .Site.Menus.main }}
                    {{- range $i, $e := . -}}
                    <a href="{{ .URL | relURL }}">{{ .Name }}</a>
                    {{- end -}}
                    {{ end }}
                    <a href="index.xml"><img src="{{ "feed-icon.png" | relURL }}" class="rss" /></a>
                </nav>
            </div>
        </header>
        <div id="content">
            <div id="content-center">
                {{ block "main" . }}{{ end }}
            </div>
        </div>
    </body>
</html>
