{{ define "preface" }}
    {{ if .Params.preface }}
        <div class="collapsible-wrap">
            <input id="collapsible-preface" class="toggle" type="checkbox" checked="checked">
            <label for="collapsible-preface" class="lbl-toggle">{{ if .Params.preface_title }}{{ .Params.preface_title }}{{ else }}Preface{{ end }}</label>
            <div class="collapsible-content">
                <div class="collapsible-inner pad-content preface">
                    {{ with site.GetPage .Params.preface }}
                        {{ with .Content }}{{ . }}{{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
    {{ if .Params.toc }}
        <div class="collapsible-wrap">
            <input id="collapsible-toc" class="toggle" type="checkbox">
            <label for="collapsible-toc" class="lbl-toggle">Table of Contents</label>
            <div class="collapsible-content">
                <div class="collapsible-inner">
                    <ul>
                        {{ if eq .Section "blog" }}
                            <li><a href="/blog/all">All posts on one page</a></li>
                        {{ end }}
                    {{ range .Pages }}
                    <li>
                        <div class="post-title">
                        {{ if eq .Section "blog" }}
                            {{ .Date.Format .Site.Params.dateFmt }}: <a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title | truncate 30 }}</a>
                        {{ else }}
                            <a href="{{ .RelPermalink }}{{ partial "index" }}">{{.Title }}</a>
                        {{ end }}
                        </div>
                    </li>
                    {{ end }}
                    <ul>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}
{{ define "main" }}
    {{ if (and (or .Title .Content) (eq .Paginator.PageNumber 1)) }}
    <div>
        {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
        {{ if eq .Section "blog" }}<div class="intro">{{ end }}
        {{ with .Content }}<div>{{ . }}</div>{{ end }}
        {{ if eq .Section "blog" }}</div>{{ end }}
    </div>
    {{ end }}

    {{ if eq .Section "blog" }}
        {{ range (.Paginator 5).Pages }}
            <h1 class="posttitle">{{ .Title }}</h1>
            {{ partial "shortmetadata.html" . }}
            {{ .Content }}
            <hr class="postdelimiter" />
        {{ end }}
        {{ $currentPage := .Paginator.PageNumber }}
        <div class="paginator">
            Page: {{ range (.Paginator.Pagers) }}
                {{ if (eq .PageNumber $currentPage) }}
                    <b>{{ .PageNumber }}</b>
                {{ else }}
                    <a href="{{ .URL }}">{{ .PageNumber }}</a>
                {{ end }}
            {{ end }}
            <a href="all">all</a>
        </div>
    {{ else }}
        {{ range .Pages.ByParam "priority" }}
            <div class="showcase">
                {{ if (gt .Params.priority 0) }}<span style="float: right; padding-top: 1em;">📌</span>{{ end }}
                <a href="{{ .RelPermalink }}{{ partial "index" }}">
                    <h2>{{.Title}}</h2>
                    {{ with .Params.image }}
                        <img src="{{ printf "img/%s" . | relURL }}" />
                    {{ end }}
                </a>
                <ul>
                {{ partial "metadata" . }}
                </ul>
            </div>
        {{ end }}
    {{ end }}
{{ end }}
