{{ define "main" }}
    {{ if .Params.toc }}
        <div class="bigtocwrapper">
            <aside class="toc bigtoc">
                <span class="title">Contents:</span>
                <ul>
                    {{ if eq .Section "blog" }}
                        <li><a href="/blog/all">[All posts on one page]</a></li>
                    {{ end }}
                {{ range .Pages }}
                <li>
                    <div class="post-title">
                    {{ if eq .Section "blog" }}
                        <a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title | truncate 30 }}</a>
                    {{ else }}
                    <a href="{{ .RelPermalink }}{{ partial "index" }}">{{.Title }}</a>
                    {{ end }}
                    </div>
                </li>
                {{ end }}
                <ul>
            </aside>
        </div>
    {{ end }}
    {{ if or .Title .Content }}
    <div>
        {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
        {{ if eq .Section "blog" }}<div class="intro">{{ end }}
        {{ with .Content }}<div>{{ . }}</div>{{ end }}
        {{ if eq .Section "blog" }}</div>{{ end }}
    </div>
    {{ end }}

    {{ if eq .Section "blog" }}
        {{ range .Pages | first 3 }}
            {{ partial "shortmetadata.html" . }}
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        {{ end }}
        <h1 id="toc">All entries</h1>
        <ul>
            {{ range .Pages }}
            <li>
                <div class="post-title">
                {{ if eq .Section "blog" }}
                    <a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Date.Format "2006-01-02" }}: {{.Title }}</a>
                {{ else }}
                <a href="{{ .RelPermalink }}{{ partial "index" }}">{{.Title }}</a>
                {{ end }}
                </div>
            </li>
            {{ end }}
        </ul>
    {{ else }}
        {{ range .Pages }}
            <div class="showcase">
                <a href="{{ .RelPermalink }}{{ partial "index" }}">
                    <h2>{{.Title}}</h2>
                    {{ with .Params.image }}
                        <img src="{{ printf "img/%s" . | relURL }}" />
                    {{ end }}
                </a>
                <ul>
                {{ partial "metadata" . }}
                </ul>
            </div>
        {{ end }}
    {{ end }}
{{ end }}
