{{ define "main" }}
    {{ if .Params.toc }}
        <aside class="toc">
            <span class="title">Contents:</span>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    <h1>{{ .Title }}</h1>

    {{ with .Params.image }}
        {{ with printf "img/%s" . | relURL }}
            <a href="{{.}}"><img src="{{ . }}" /></a>
        {{ end }}
    {{ end }}

    {{ with .Params.image_back }}
        {{ with printf "img/%s" . | relURL }}
            <h2>Back side:</h2>
            <a href="{{.}}"><img src="{{ . }}" /></a>
            <br /><br />
        {{ end }}
    {{ end }}

    {{ if and .Params.image (not .Params.image_back) }}
        <br /><br />
    {{ end }}

    {{ .Content }}

    {{ if (in .Site.Params.ComponentSections .Section) }}
        <hr />
        <ul>
            {{ partial "metadata" . }}
        </ul>
    {{ end }}
{{ end }}
