{{ $params := ($.Site.GetPage .Section).Params }}
{{ if .Params.untested }}
    <b>WARNING: NOT FULLY TESTED</b><br />
{{ end }}
{{ if .Params.broken }}
    <b>WARNING: This {{ default "item" $params.child_label }} contains a bug and will not funciton.</b><br />
{{ end }}
{{ with .Params.src }}
<a href="{{ . }}">{{ default "Source" $params.source_label }}</a> {{ $params.source_extra | safeHTML }}<br />
{{ end }}
{{ if (and $params.has_sewing_pattern (not .Params.src)) }}
    No sewing pattern yet. <a href="https://codeberg.org/psylink/psylink/issues">Need one?</a><br />
{{ end }}
{{ with .Params.prototypes }}
    <b>Used in prototype:</b>
    <ul style="margin: 0;">
        {{ range . }}
            {{ range first 1 (where $.Site.RegularPages "Slug" "eq" .) }}
                <li><a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title }}</a></li>
            {{ end }}
        {{ end }}
    </ul>
{{ end }}
{{ with .Params.circuit }}
    {{ range first 1 (where $.Site.RegularPages "Slug" "eq" .) }}
        <b>Circuit:</b> <a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title }}</a><br />
    {{ end }}
{{ end }}
{{ with .Params.boards }}
    <b>Compatible circuit boards:</b>
    <ul style="margin: 0;">
        {{ range . }}
            {{ range first 1 (where $.Site.RegularPages "Slug" "eq" .) }}
                <li><a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title }}</a></li>
            {{ end }}
        {{ end }}
    </ul>
{{ end }}
{{ with .Params.components }}
    Components:
    <ul style="margin: 0;">
        {{ range . }}
            {{ range first 1 (where $.Site.RegularPages "Slug" "eq" .) }}
                <li><a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title }}</a></li>
            {{ end }}
        {{ end }}
    </ul>
{{ end }}
{{ with .Params.video }}
    <b>Video Demo:</b> <a href="{{ . }}">here</a><br />
{{ end }}
{{ with .Params.blog }}
    {{ range first 1 (where $.Site.RegularPages "Slug" "eq" .) }}
        <b>Blog Post:</b> <a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title }}</a><br />
    {{ end }}
{{ end }}
{{ with $params.extra_line }}
    {{ . }}<br />
{{ end }}
<b>Date:</b> {{ .Date.Format "2006-01-02" }}
