{{ $params := ($.Site.GetPage .Section).Params }}
{{ if .Params.untested }}
<li><b class="warning">WARNING: NOT FULLY TESTED</b></li>
{{ end }}
{{ if .Params.broken }}
<li><b class="warning">WARNING: This {{ default "item" $params.child_label }} contains a bug and will not funciton.</b></li>
{{ end }}
{{ with .Params.blog }}
    {{ range first 1 (where $.Site.RegularPages "Slug" "eq" .) }}
    <li><b>See blog post </b> <a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title }}</a></li>
    {{ end }}
{{ end }}
{{ with .Params.src }}
<li><a href="{{ . }}">{{ default "Source" $params.source_label }}</a> {{ $params.source_extra | safeHTML }}</li>
{{ end }}
{{ if (and $params.has_sewing_pattern (not .Params.src)) }}
<li>No sewing pattern yet. <a href="https://codeberg.org/psylink/psylink/issues">Need one?</a></li>
{{ end }}
{{ with .Params.prototypes }}
<li><b>Used in prototype:</b></li>
<ul>
    {{ range . }}
        {{ range first 1 (where $.Site.RegularPages "Slug" "eq" .) }}
            <li><a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title }}</a></li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}
{{ with .Params.circuit }}
    {{ range first 1 (where $.Site.RegularPages "Slug" "eq" .) }}
    <li><b>Circuit:</b> <a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title }}</a></li>
    {{ end }}
{{ end }}
{{ with .Params.boards }}
<li>Compatible circuit boards:</li>
<ul>
    {{ range . }}
        {{ range first 1 (where $.Site.RegularPages "Slug" "eq" .) }}
            <li><a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title }}</a></li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}
{{ with .Params.components }}
<li>Components:</li>
<ul>
    {{ range . }}
        {{ range first 1 (where $.Site.RegularPages "Slug" "eq" .) }}
            <li><a href="{{ .RelPermalink }}{{ partial "index" }}">{{ .Title }}</a></li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}
{{ with .Params.video }}
<li><b>Video Demo:</b> <a href="{{ . }}">here</a></li>
{{ end }}
{{ with $params.extra_line }}
<li>{{ . }}</li>
{{ end }}
<li><b>Date:</b> {{ .Date.Format "2006-01-02" }}</li>
