@font-face {
    font-family: "KoHo";
    src: url("KoHo-Medium.ttf");
}
body {
    background: #fee;
    color: #000;
    font-family: KoHo;
    font-size: 14pt;
    padding: 0;
    margin: 0;
}
a, a:visited {
    text-decoration: none;
}
/*************************/
/* HEADER */
header {
    background: black;
    padding: 5pt 5pt;
    margin-bottom: 20pt;
    box-shadow: 0 0 3pt black;
}
header .content {
    max-width: 80ch;
    margin: 0 auto;
}
header .logo {
    width: 20pt;
    height: 20pt;
    border-radius: 0;
}
header .header {
    font-size: 28pt;
    color: #37c837;
}

/*************************/
/* NAVIGATION */
nav {
    display: inline;
    padding-left: 10pt;
    font-size: 115%;
}
nav .right {
    float: right;
}
nav a, nav a:visited, nav .parts {
    padding: 0 6pt;
    line-height: 1.75;
    color: #99f;
    color: white;
    font-weight: bold;
}
nav .parts {
    position: relative;
    display: inline-block;
}
nav .parts .dropdown-content {
    display: none;
    position: absolute;
    background: black;
    box-shadow: 0 0 3pt black;
    padding: 10pt;
    margin: 0;
    z-index: 1;
}
nav .parts:hover .dropdown-content {
    display: block;
}
nav .rss {
    height: 14pt;
    width: 14pt;
    border-radius: 0;
}

/*************************/
/* CONTENT */
#content-center {
    max-width: 80ch;
    padding: 0 1ch;
    margin: 0 auto;
}
#content ul {
    text-align: left;
    display: inline-block;
}
#content a, #content a:visited {
    color: #00f;
    text-decoration: none;
}
img {
    max-width: 100%;
    border-radius: 4pt;
}
table, td, tr {
    border-collapse: collapse;
}
.showcase {
    max-width: 35ch;
    display: inline-block;
    vertical-align: top;
    padding: 0 10pt;
}
