:root {
    --logo-fg: #37c837;
    --body-bg: url("bg.png"), black;
    --main-border: #030;
    --main-bg: #131418;
    --main-fg: #ccc;
    --main-link: #8af;
    --header-bg: #000;
    --header-fg: #fff;
    --header-border: #777;
    --header-link: #fff;
}
@font-face {
    font-family: "KoHo";
    src: url("KoHo-Medium.ttf");
}
html {
    min-height: 100vh;
    margin: 0;
}
hr {
    border: 0px hidden black;
    border-bottom: 1px dashed var(--header-border);
}
body {
    background: var(--body-bg);
    background-attachment: fixed;
    color: var(--main-fg);
    font-family: KoHo;
    font-size: 14pt;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}
a, a:visited {
    text-decoration: none;
}
/*************************/
/* HEADER */
header {
    background: var(--header-bg);
    padding: 5pt 5pt;
    box-shadow: 0 0 2pt var(--header-border);
    flex: 0 1 auto;
    z-index: 2;
}
header .content {
    max-width: 75ch;
    margin: 0 auto;
}
header .logo {
    width: 20pt;
    height: 20pt;
    border-radius: 0;
}
header .header {
    font-size: 28pt;
    color: var(--logo-fg);
}

/*************************/
/* NAVIGATION */
nav {
    display: inline;
    padding-left: 10pt;
    font-size: 115%;
}
nav .right {
    float: right;
}
nav a, nav a:visited, nav .parts {
    padding: 0 6pt;
    line-height: 1.75;
    color: var(--header-link);
    font-weight: bold;
}
nav .parts {
    position: relative;
    display: inline-block;
}
nav .parts .dropdown-content {
    display: none;
    position: absolute;
    background: var(--header-bg);
    box-shadow: 0 0 2pt var(--header-border);
    padding: 10pt;
    margin: 0;
    z-index: 2;
}
nav .parts:hover .dropdown-content {
    display: block;
}
nav .rss {
    height: 14pt;
    width: 14pt;
    border-radius: 0;
}

/*************************/
/* CONTENT */
main {
    flex: 1 1 auto;
    max-width: 100%;
    width: 80ch;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em 2ch 3em 2ch;
    background-color: var(--main-bg);
    box-shadow: 0 0 100pt var(--main-border),
                0 0 20pt var(--main-border);
    z-index: 0;
}
main .banner {
    width: 100%;
    border-radius: 0;
}
iframe {
    max-width: 100%;
}
main h1 {
    margin-top: 0;
    padding-top: 14pt;
    font-size: 150%;
}
main h2 {
    font-size: 120%;
    text-decoration: underline;
}
main a, main a:visited {
    color: var(--main-link);
    text-decoration: none;
}
img {
    max-width: 100%;
    border-radius: 4pt;
}
table, td, tr {
    border-collapse: collapse;
}
.showcase {
    max-width: 35ch;
    display: inline-block;
    vertical-align: top;
    padding: 0 10pt;
}
