{{ $intro := site.GetPage "blog/intro.md" }}
{{ $pages := (where $.Site.RegularPages "Section" "eq" "blog").Reverse }}
{{ with site.GetPage "_footer" }}
    <li><a href="#_footer">{{ .Title }}</a>
{{ end }}
</ul>
<div class="post_delimiter">
    <div class="post_end"></div>
    <div class="post_begins"></div>
</div>
<article id="_intro">
<h1>{{ $intro.Title }}</h1>
{{ $intro.Content }}
</article>
<div class="post_delimiter">
    <div class="post_end"></div>
    <div class="post_begins"></div>
</div>
{{ range $pages }}
<article id="{{ .Slug }}">
<h1 class="posttitle">{{ .Title }}</h1>
{{ partial "shortmetadata.html" . }}
{{ .Content }}
</article>
<div class="post_delimiter">
    <div class="post_end"></div>
    <div class="post_begins"></div>
</div>
{{ end }}
